{{!-- TODO: Redo this with grid, does this need to handle other options/config? (labels?) --}}
<div class="flex items-center">
  <div>
    <div class="font-heading text-sm font-bold text-neutral-900">
      {{get @row @options.title}}
    </div>
    <div class="font-heading text-sm text-neutral-500">
      {{get @row @options.subtitle}}
    </div>
  </div>
</div>