/*
 * https://animate.style/
 * https://peec.github.io/ember-css-transitions/docs
 */

/* Fade In */
.fade-in-enter-active {
  animation: 'fadeIn';
  animation-duration: 1s;
}

@media screen and (prefers-reduced-motion) {
  .fade-in-enter-active {
    animation: none;
  }
}

/* Page Transitions (Fade-In-Down, Fade-Out-Up) */
.fade-in-up-out-down-enter-active {
  animation: 'fadeInUp';
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media screen and (prefers-reduced-motion) {
  .fade-in-up-out-down-enter-active {
    animation: none;
  }
}

.fade-in-up-out-down-leave-active {
  animation: 'fadeOutDown';
  animation-duration: 1s;
}

@media screen and (prefers-reduced-motion) {
  .fade-in-up-out-down-leave-active {
    animation: none;
  }
}

.fade-in-up-out-down-enter,
.fade-in-up-out-down-leave-to {
  opacity: 0;
}
