<button
  ...attributes
  {{on "click" this.handleClick}}
  class="button button-{{this.theme}} {{this.disabledClasses}}"
  type="button"
  aria-pressed="active"
  disabled={{@disabled}}
>
  {{yield}}
</button>