<div class="checkbox" ...attributes>
  <label
    id={{this.inputId}}
    class="input_label"
  >
    {{@name}}
  </label>
  <div class="checkbox_inputWrapper">
    <input
      class="checkbox_input {{this.themeClasses}} {{if @disabled 'input-disabled'}} {{if @disabled 'input-disabled'}}"
      type="checkbox"
      value={{this.value}}
      checked={{this.checked}}
      disabled={{@disabled}}
      readonly={{@readonly}}
      required={{@required}}
      aria-labelledby={{this.inputId}}
      {{on "change" this.handleChange}}
    />
    <span class="checkbox_value">
      {{this.value}}
    </span>
  </div>
  {{#if this.hasSuccess }}
    <div class="input_message input_message-success">
      {{@success}}
    </div>
  {{/if}}
  {{#if this.hasError }}
    <div class="input_message input_message-error">
      {{@error}}
    </div>
  {{/if}}
  {{#if this.hasDescription }}
    <div class="input_message input_message-description">
      {{@description}}
    </div>
  {{/if}}
</div>