<div class="overflow-hidden" ...attributes>
  <YetiTable
    @data={{@data}}
    @filter={{@search}}
    @sortable={{this.canSort}}
    @theme={{this.tableTheme}}
    @sortSequence={{this.sortSequence}}
    as |table|
  >
    <table.header as |header|>
      {{#each @columns as |column|}}
        <header.column @prop="{{column.key}}" as |col|>
          {{column.name}}
          <DataTable::SortIcon @col={{col}} />
        </header.column>
      {{/each}}
    </table.header>
    <table.tbody as |body data|>
      {{#each data as |entry index|}}
        <body.row @onClick={{fn this.handleRowClick entry index}} as |row|>
          {{#each @columns as |column index|}}
            <row.cell>
              {{#if column.component}}
                {{!-- TODO: Is there a better way to handle this? Maybe pass in the entire column object? --}}
                {{component column.component row=entry key=column.key index=index options=column.options}}
              {{else}}
                <DataTable::DefaultCell>
                  {{get entry column.key}}{{#if column.label}} {{column.label}}{{/if}}
                </DataTable::DefaultCell>
              {{/if}}
            </row.cell>
          {{/each}}
        </body.row>
      {{/each}}
    </table.tbody>
  </YetiTable>
</div>