<div class="relative inline-block text-left">
  {{yield (hash
    Toggle=(component 'dropdown/toggle' onClick=this.toggleMenu)
    Menu=(component 'dropdown/menu' open=this.isOpen closeMenu=this.closeMenu)
  )}}
</div>
