<header class="fancyHeader">

  {{yield}}

  <PortalTarget @name="fancy-header" />

  <div class="fancyHeader_background">
    {{!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path
        d="M 0 0
          C 10 100, 15 100, 25 50
          C 35 100, 50 -50, 50 25"
        fill="white"
        fill-rule="evenodd"
      />
    </svg> --}}
    <div class="fancyHeader_backgroundImage" />
  </div>
</header>