<div class="input" ...attributes>
  {{!-- TODO: Do this with a11y in mind!!! --}}
  {{#if this.showLabel}}
    <label
      id={{this.inputId}}
      class="input_label"
    >
      {{@name}}
    </label>
  {{/if}}
  <input
    class="input_input {{this.themeClasses}} {{if @disabled 'input-disabled'}}"
    type={{this.type}}
    value={{this.value}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    readonly={{@readonly}}
    required={{@required}}
    aria-labelledby={{this.inputId}}
    {{on "input" this.handleInput}}
  />
  {{#if this.hasSuccess }}
    <div class="input_message input_message-success">
      {{@success}}
    </div>
  {{/if}}
  {{#if this.hasError }}
    <div class="input_message input_message-error">
      {{@error}}
    </div>
  {{/if}}
  {{#if this.hasDescription }}
    <div class="input_message input_message-description">
      {{@description}}
    </div>
  {{/if}}
</div>