<div class="list" ...attributes>
  {{yield (hash
    Header=(component 'list/header')
  )}}
  <div class="list_content">
    {{#if (has-block)}}
      {{yield (hash
        Item=(component this.itemTemplate)
      )}}
    {{else}}
      <List::Empty>
        {{@empty}}
      </List::Empty>
    {{/if}}
  </div>
</div>
