<nav class="bg-transparent" role="navigation">
  <div class="max-w-7xl mx-auto px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-stretch justify-start">
        <div class="flex-shrink-0 flex items-center">
          {{!-- <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
            alt="Exoplanet Search"
            aria-disabled="true"> --}}
          <h1 class="font-title text-xl text-white font-bold mx-2">
            EXO
          </h1>
        </div>
        <div class="hidden phoneWide:block phoneWide:ml-6">
          <div class="flex space-x-4">
            {{yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>