<List ...attributes @empty="No News!" @itemComponent="news-list/item" as |list|>
  <list.Header>
    <Toolbar @route="news" @title="News"></Toolbar>
  </list.Header>
  <div class="newsList_content">
    {{#each @news as |article| }}
      <list.Item @article={{article}} />
    {{/each}}
  </div>
</List>
