<div class="select" ...attributes>
  <label
    id={{this.inputId}}
    class="select_label"
  >
    {{@name}}
  </label>
  <select
    class="select_input {{this.themeClasses}} {{if @disabled 'input-disabled'}}"
    name={{@name}}
    multiple={{@multiple}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    required={{@required}}
    aria-labelledby={{this.inputId}}
    {{on "change" this.handleChange}}
  />
  {{#if this.hasSuccess }}
    <div class="select_message select_message-success">
      {{@success}}
    </div>
  {{/if}}
  {{#if this.hasError }}
    <div class="select_message select_message-error">
      {{@error}}
    </div>
  {{/if}}
  {{#if this.hasDescription }}
    <div class="select_message select_message-description">
      {{@description}}
    </div>
  {{/if}}
</div>