<div class="rounded-xl border border-{{@color}} bg-{{@color}} h-100" ...attributes>
  <h2 class="font-display uppercase text-white text-2xl p-4 pb-0">
    {{@title}}
  </h2>
  <div class="font-title text-white font-bold text-4xl p-4">
    {{@stat}}
  </div>
</div>
