<div class="input" ...attributes>
  <label
    id={{this.inputId}}
    class="input_label"
  >
    {{@name}}
  </label>
  <textarea
    class="input_input {{this.themeClasses}} {{if @disabled 'input-disabled'}} {{if this.isResizeable '' 'textarea-noResize'}}"
    value={{this.value}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    readonly={{@readonly}}
    required={{@required}}
    minlength={{@minLength}}
    maxlength={{@maxLength}}
    rows={{@rows}}
    wrap={{this.wrap}}
    spellcheck={{this.spellcheck}}
    aria-labelledby={{this.inputId}}
    {{on "input" this.handleInput}}
  />
  {{#if this.hasSuccess }}
    <div class="input_message input_message-success">
      {{@success}}
    </div>
  {{/if}}
  {{#if this.hasError }}
    <div class="input_message input_message-error">
      {{@error}}
    </div>
  {{/if}}
  {{#if this.hasDescription }}
    <div class="input_message input_message-description">
      {{@description}}
    </div>
  {{/if}}
</div>