<div class="toolbar" ...attributes>
  <h2 class="toolbar_title">
    {{#if this.renderAsLink}}
      <LinkTo @route="{{@route}}">
        {{@title}}
        <FaIcon @icon="chevron-right" />
      </LinkTo>
    {{else}}
      {{@title}}
    {{/if}}
  </h2>
  {{#if (has-block)}}
    <div class="toolbar_actions">
      {{yield}}
    </div>
  {{/if}}
</div>
