<button
  {{on "click" this.handleClick}}
  type="button"
  class="text-left w-full block px-4 py-2 text-sm text-neutral-700 hover:bg-neutral-100 hover:text-neutral-900"
  role="menuitem"
>
  {{yield}}
</button>
