<div class="svgSpace">
  <svg class="animated" id="freepik_stories-outer-space"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" version="1.1"
    xmlns:svgjs="http://svgjs.com/svgjs">
    <g id="freepik--Space--inject-41" style="transform-origin: 251.157px 262.897px 0px;" class="animable">
      <g id="freepik--space--inject-41" style="transform-origin: 251.157px 262.897px 0px;" class="animable">
        <path id="freepik--space--inject-41" d="M279.59,152.46c-13.32-9.28-24.57-24-34.72-36.1-46-55-124.87-49-181.88-10.23-21.47,14.58-36.58,30.5-44.8,56C12.13,181,15,203.87,29.9,216.83c9.62,8.39,22.6,11.51,34.1,17,48.85,23.46,1.45,65.82-20.63,89.62-16.89,18.2-24,36.4-18.66,61.56,8.28,38.66,51.68,63.84,86.39,73.46,51.68,14.32,102.57,4.24,122.23-2.7,39.49-13.92,75.27-37.59,105.76-66.08,21.52-20.12,40.9-42.68,64.52-60.29,14.35-10.7,30.09-19.43,44.47-30.1s27.66-23.71,34.66-40.19c10.08-23.75,2-52.76-17.37-69.4s-47.06-23.4-71.83-24.14C351.74,164.34,313.27,175.93,279.59,152.46Z" style="fill: rgb(38, 50, 56); transform-origin: 251.157px 270.901px 0px;" class="animable"></path>
        <path d="M288,138.36c27.6,20.23,65.38,15,98,13.89,8.55-.29,19-3.56,24.34-10.28,6.66-8.48,2.88-17.57-3.56-26.21C395,100,377.64,89.2,359.76,81c-21.86-10-38.53-17.5-84.95-20.68-19-1.3-33.31,2.35-36.47,7-5.85,8.71,1.65,16.88,7.49,25.32a224.79,224.79,0,0,0,38,42.35Q285.88,136.8,288,138.36Z" style="fill: rgb(38, 50, 56); transform-origin: 325.03px 106.866px 0px;" id="elfjfx9100615" class="animable"></path>
      </g>
    </g>
    <g id="freepik--Planets--inject-41" style="transform-origin: 267.466px 212.754px 0px;" class="animable">
      <g id="freepik--Planet--inject-41" style="transform-origin: 127.869px 168.119px 0px;" class="animable">
        <g id="freepik--Rings--inject-41" style="transform-origin: 127.869px 168.119px 0px;" class="animable">
          <g id="el828c6itoywa">
            <path d="M127.87,211.08a43,43,0,1,1,43-43A43,43,0,0,1,127.87,211.08Zm0-84.91a42,42,0,1,0,42,42A42,42,0,0,0,127.87,126.17Z" style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 127.869px 168.079px 0px;" class="animable"></path>
          </g>
          <g id="ela8ot59ep4s">
            <path d="M127.87,214.2a46.07,46.07,0,1,1,46.07-46.07A46.12,46.12,0,0,1,127.87,214.2Zm0-91.14a45.07,45.07,0,1,0,45.07,45.07A45.11,45.11,0,0,0,127.87,123.06Z" style="fill: rgb(255, 255, 255); opacity: 0.2; transform-origin: 127.869px 168.129px 0px;" class="animable"></path>
          </g>
          <g id="elwkmci2vdgid">
            <path d="M127.87,218a49.91,49.91,0,1,1,49.91-49.91A50,50,0,0,1,127.87,218Zm0-98.82a48.91,48.91,0,1,0,48.91,48.91A49,49,0,0,0,127.87,119.22Z" style="fill: rgb(255, 255, 255); opacity: 0.1; transform-origin: 127.87px 168.09px 0px;" class="animable"></path>
          </g>
          <g id="elqs95qujxmjc">
            <path d="M127.87,222.81a54.69,54.69,0,1,1,54.69-54.68A54.74,54.74,0,0,1,127.87,222.81Zm0-108.37a53.69,53.69,0,1,0,53.69,53.69A53.75,53.75,0,0,0,127.87,114.44Z" style="fill: rgb(255, 255, 255); opacity: 0.1; transform-origin: 127.869px 168.119px 0px;" class="animable"></path>
          </g>
        </g>
        <g id="freepik--planet--inject-41" style="transform-origin: 127.86px 168.145px 0px;" class="animable">
          <circle cx="127.87" cy="168.13" r="39.44" style="fill: rgb(16, 185, 129); transform-origin: 127.87px 168.13px 0px;" id="el328flgfuoic" class="animable"></circle>
          <g id="elt2w9zo5u49">
            <circle cx="127.87" cy="168.13" r="39.44" style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 127.87px 168.13px 0px;" class="animable"></circle>
          </g>
          <path d="M123.46,144.46c-.28-.68-.58-1.34-.88-2-.55-1.15-6.59-12-7-11.84a39.6,39.6,0,0,0-6.89,3c2.4,3.56,5.41,7,7.54,10.72a49.25,49.25,0,0,1,3.53,8.67,13.8,13.8,0,0,0,1.67,3.61,5,5,0,0,0,3.25,2.15,1.23,1.23,0,0,0,.63-.05c.47-.2.6-.8.64-1.31A29.27,29.27,0,0,0,123.46,144.46Z" style="fill: rgb(16, 185, 129); transform-origin: 117.33px 144.704px 0px;" id="elrxdm4s3bc7o" class="animable"></path>
          <path d="M156.77,195c-6.68-6.49-19.12-18.64-24.35-24.13-4-4.15-9.44-6-13.44-10-2.74-2.73-3.81-6.66-4.9-10.37-.61-2.09-1.73-8.67-4.86-7.93-.1,1.08.55,3.56-.61,4.29s-2-1.45-2.41-2.08-4-6.53-3.93-6.58a39,39,0,0,0-3.22,3.08c3.47,6.4,9,16.68,10.32,18.8,1.87,3.13,0,6.59-2.33,3.23-1.44-2.09-7.88-10.27-12.53-16.15a39.14,39.14,0,0,0-3.75,7.66c3.66,5.37,7.83,12,13.8,15a7.22,7.22,0,0,0,6.44.36c1.35-.68,2.42-1.93,3.89-2.27,1.84-.43,3.65.7,5.18,1.81,3.17,2.29,6.26,4.7,9.19,7.29a25.48,25.48,0,0,1,4.15,3.88c.6.88.72,2.81-.28,3.53,0,.37-1.44.31-1.64.26a4.6,4.6,0,0,1-1.44-.85c-1.31-.88-2.71-1.65-4.06-2.47-1-.64-2.38-1.29-3.42-.65a3.86,3.86,0,0,0,1.35,2.86,60.44,60.44,0,0,0,8.71,7.82,6.76,6.76,0,0,0,1.94,1.09,2.41,2.41,0,0,0,2.14-.26c.62-.46.91-1.28,1.58-1.67a2.11,2.11,0,0,1,2.06.12c1.42.81,2.5,2.37,3.86,3.34a60.8,60.8,0,0,1,6.51,6.29A39.69,39.69,0,0,0,156.77,195Z" style="fill: rgb(16, 185, 129); transform-origin: 123.765px 169.25px 0px;" id="elenu1y7vsr76" class="animable"></path>
          <path d="M127.87,207.57a39.21,39.21,0,0,0,14.38-2.72c-6.48-5.84-16.79-15-19.88-17-2.75-1.78-4.65,1-6.27,2.87-.79.92-1.72,2.08-3,2.34-1.84.37-3.63-1.54-3.68-3.31A5.74,5.74,0,0,1,111,186c.93-1.07,2.11-2,2.58-3.33.74-2.07-.47-4.29-1.64-6.16a3.4,3.4,0,0,0-1.89-1.75c-1.2-.26-2.23.78-3.09,1.64a19,19,0,0,1-3.4,2.73,4.62,4.62,0,0,1-2.57.9,5.28,5.28,0,0,1-2.73-1.24,22.87,22.87,0,0,1-5.21-4.94c-.81-1-1.6-2.07-2.39-3.12-.44-.59-2.24-2.32-2.24-3,0,.13,0,.26,0,.39A39.44,39.44,0,0,0,127.87,207.57Z" style="fill: rgb(16, 185, 129); transform-origin: 115.335px 187.65px 0px;" id="elzbfb4yuekrb" class="animable"></path>
          <path d="M144,132.13c-.19,2.13.73,4.65,3.77,8.69,1.59,2.11,3.25,4.18,4.93,6.23,1.31,1.6,3.67,3.49,3.65,5.72,0,1.49-1.13,2.73-2.28,3.67a19.54,19.54,0,0,1-3.19,2.14c-.93.49-2,1.12-2.06,2.18s.92,1.64,1.76,2.13q4.77,2.79,9.68,5.3c1.42.73,3.3,1.31,4.49,2.38.83.75,1.34,1.82,2.23,2.55a24.46,24.46,0,0,0,.36-5A39.43,39.43,0,0,0,144,132.13Z" style="fill: rgb(16, 185, 129); transform-origin: 155.664px 152.625px 0px;" id="elkea19is15" class="animable"></path>
          <path d="M143.75,155.74a14.82,14.82,0,0,1,1.55-1c1.17-.63,2.53-1.33,2.84-2.62.4-1.74-1.34-3.16-2.87-4.09l-4.76-2.91a9.27,9.27,0,0,1-2.15-1.62,8.57,8.57,0,0,1-1.41-2.48,57.61,57.61,0,0,1-2.44-7.09c-.25-.89-.74-4.85-2.11-5A39.05,39.05,0,0,0,123,129c.8-.05,2.62,4.76,2.88,5.47a65.56,65.56,0,0,1,2.91,9.63c.6,3.22,4.6,4.83,7.12,6.58a2.27,2.27,0,0,1,.89.93,2,2,0,0,1-.22,1.51,42.81,42.81,0,0,1-2.67,4.18,6.39,6.39,0,0,0-1.1,4.7,8.14,8.14,0,0,0,2.63,3.7c8.42,8.06,17.32,15.82,25.29,24.26a39.27,39.27,0,0,0,4.16-8.17c.29-.78-4.31-4.49-4.91-5-2.71-2.15-5.76-3.91-8.48-6.11l-7.57-6.14a7.15,7.15,0,0,1-2.72-3.31,4.59,4.59,0,0,1,.88-3.91A7.73,7.73,0,0,1,143.75,155.74Z" style="fill: rgb(16, 185, 129); transform-origin: 143.952px 159.32px 0px;" id="elevvzeaang24" class="animable"></path>
          <g id="elleltofua6ub">
            <g style="opacity: 0.2; transform-origin: 127.849px 168.15px 0px;" class="animable">
              <path d="M132.29,191.8c.28.68.57,1.33.88,2,.55,1.15,6.59,12,7,11.84a38.14,38.14,0,0,0,6.89-3c-2.4-3.56-5.41-7-7.54-10.71a48.6,48.6,0,0,1-3.53-8.68,13.66,13.66,0,0,0-1.68-3.61,5,5,0,0,0-3.24-2.14,1.13,1.13,0,0,0-.63,0c-.47.19-.6.79-.64,1.3A29,29,0,0,0,132.29,191.8Z" style="fill: rgb(255, 255, 255); transform-origin: 138.418px 191.549px 0px;" id="el26rpl0m1u9t" class="animable"></path>
              <path d="M99,141.29c6.68,6.5,19.11,18.64,24.35,24.13,4,4.16,9.44,6,13.44,10,2.73,2.73,3.81,6.66,4.89,10.37.61,2.09,1.74,8.67,4.87,7.93.1-1.08-.55-3.56.61-4.29s2,1.44,2.4,2.08,4,6.52,3.94,6.58A42.58,42.58,0,0,0,156.7,195c-3.47-6.41-9.06-16.68-10.32-18.8-1.87-3.14,0-6.6,2.32-3.24,1.45,2.09,7.88,10.28,12.54,16.15a39.43,39.43,0,0,0,3.75-7.66c-3.66-5.37-7.84-12-13.8-15a7.22,7.22,0,0,0-6.44-.36c-1.35.68-2.42,1.93-3.89,2.27-1.84.43-3.65-.71-5.18-1.82-3.17-2.29-6.26-4.7-9.19-7.28-1.32-1.17-3.15-2.43-4.15-3.89-.6-.88-.72-2.81.28-3.53,0-.37,1.43-.31,1.64-.26a5.16,5.16,0,0,1,1.44.85c1.31.88,2.71,1.66,4.06,2.48,1,.64,2.37,1.28,3.42.64a3.8,3.8,0,0,0-1.36-2.85,58.7,58.7,0,0,0-8.7-7.82,6.93,6.93,0,0,0-1.94-1.1,2.49,2.49,0,0,0-2.15.26c-.61.46-.91,1.29-1.57,1.67a2.08,2.08,0,0,1-2.06-.11c-1.42-.82-2.51-2.38-3.86-3.34A60.87,60.87,0,0,1,105,136,39.69,39.69,0,0,0,99,141.29Z" style="fill: rgb(255, 255, 255); transform-origin: 131.995px 167.045px 0px;" id="ela32mz17s1t7" class="animable"></path>
              <path d="M127.87,128.69a39.49,39.49,0,0,0-14.38,2.71c6.49,5.85,16.8,15,19.89,17,2.75,1.78,4.65-1,6.27-2.88.79-.91,1.72-2.08,3-2.33,1.84-.38,3.63,1.54,3.68,3.31a5.72,5.72,0,0,1-1.59,3.74c-.92,1.07-2.1,2-2.58,3.32-.74,2.08.48,4.3,1.65,6.16a3.42,3.42,0,0,0,1.89,1.76c1.19.26,2.23-.78,3.09-1.65a18.9,18.9,0,0,1,3.39-2.72,4.62,4.62,0,0,1,2.58-.91,5.32,5.32,0,0,1,2.73,1.24,22.87,22.87,0,0,1,5.21,4.94c.8,1,1.6,2.08,2.39,3.13.44.58,2.24,2.31,2.24,3,0-.13,0-.26,0-.39A39.44,39.44,0,0,0,127.87,128.69Z" style="fill: rgb(255, 255, 255); transform-origin: 140.41px 148.6px 0px;" id="elfrt1x9mtop7" class="animable"></path>
              <path d="M111.77,204.13c.19-2.13-.73-4.66-3.77-8.69-1.59-2.12-3.25-4.18-4.93-6.23-1.31-1.6-3.68-3.5-3.65-5.73,0-1.49,1.13-2.72,2.28-3.67a19.48,19.48,0,0,1,3.19-2.13c.92-.5,2-1.13,2-2.18s-.92-1.64-1.75-2.13q-4.77-2.79-9.69-5.31c-1.42-.73-3.29-1.3-4.48-2.38-.84-.75-1.35-1.81-2.23-2.55a24.61,24.61,0,0,0-.36,5A39.45,39.45,0,0,0,111.77,204.13Z" style="fill: rgb(255, 255, 255); transform-origin: 100.081px 183.63px 0px;" id="elzjsaiiw8hl" class="animable"></path>
              <path d="M112,180.52a12.92,12.92,0,0,1-1.55,1c-1.16.64-2.53,1.33-2.83,2.63-.41,1.74,1.34,3.16,2.87,4.09l4.76,2.91a9.23,9.23,0,0,1,2.15,1.61,8.57,8.57,0,0,1,1.41,2.48,57.18,57.18,0,0,1,2.44,7.1c.24.89.74,4.85,2.1,5a39.92,39.92,0,0,0,4.53.27,39.38,39.38,0,0,0,4.89-.31c-.8.05-2.63-4.76-2.88-5.48a66.45,66.45,0,0,1-2.92-9.63c-.59-3.21-4.59-4.82-7.11-6.58a2.15,2.15,0,0,1-.89-.93,1.94,1.94,0,0,1,.22-1.51,45.87,45.87,0,0,1,2.66-4.17,6.39,6.39,0,0,0,1.11-4.7,8.14,8.14,0,0,0-2.63-3.7C111.9,162.49,103,154.74,95,146.3a39.51,39.51,0,0,0-4.16,8.17c-.28.78,4.32,4.48,4.92,5,2.71,2.16,5.76,3.92,8.47,6.12l7.58,6.14a7.24,7.24,0,0,1,2.72,3.3,4.64,4.64,0,0,1-.88,3.92A7.78,7.78,0,0,1,112,180.52Z" style="fill: rgb(255, 255, 255); transform-origin: 111.799px 176.955px 0px;" id="elw7za5jrrwz" class="animable"></path>
            </g>
          </g>
          <g id="el38iznq1i1pv">
            <path d="M166.87,174.05C164,188.63,137.66,202,116.59,193c-22.41-9.59-26.63-39.9-15.66-53.63v0a39.44,39.44,0,1,0,65.94,34.72Z" style="opacity: 0.1; transform-origin: 127.653px 173.49px 0px;" class="animable"></path>
          </g>
          <g id="el486hrdtxz7j">
            <circle cx="134.85" cy="149.63" r="16.62" style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 134.85px 149.63px 0px; transform: rotate(-80.78deg);" class="animable"></circle>
          </g>
          <g id="elvojdrsz156">
            <circle cx="155.73" cy="167.48" r="7.61" style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 155.73px 167.48px 0px;" class="animable"></circle>
          </g>
          <g id="ely21ohyt4sks">
            <path d="M88.43,168.13a39.45,39.45,0,0,0,73,20.74c-.89,1.39-12.05,18.94-39.62,13.89-28.71-5.26-33.38-34.62-32.89-40.82A39.47,39.47,0,0,0,88.43,168.13Z" style="opacity: 0.1; transform-origin: 124.93px 184.755px 0px;" class="animable"></path>
          </g>
        </g>
      </g>
      <g id="elmbema1ackx">
        <circle cx="376.79" cy="255.15" r="41.78" style="fill: rgb(16, 185, 129); transform-origin: 376.79px 255.15px 0px; transform: rotate(-64.36deg);" class="animable"></circle>
      </g>
      <g id="eleuycqnuqdsq">
        <circle cx="376.79" cy="255.15" r="41.78" style="fill: rgb(255, 255, 255); opacity: 0; transform-origin: 376.79px 255.15px 0px; transform: rotate(-64.36deg);" class="animable"></circle>
      </g>
      <g id="eld92j69ot2ls">
        <circle cx="373.92" cy="253.13" r="37" style="fill: rgb(255, 255, 255); opacity: 0.116667; transform-origin: 373.92px 253.13px 0px; transform: rotate(-66.65deg);" class="animable"></circle>
      </g>
      <g id="elsqmu7jcayed">
        <circle cx="371.04" cy="251.1" r="32.23" style="fill: rgb(255, 255, 255); opacity: 0.233333; transform-origin: 371.04px 251.1px 0px; transform: rotate(-64.92deg);" class="animable"></circle>
      </g>
      <g id="elszzp4qqw9c">
        <circle cx="368.16" cy="249.08" r="27.45" style="fill: rgb(255, 255, 255); opacity: 0.35; transform-origin: 368.16px 249.08px 0px; transform: rotate(-67.66deg);" class="animable"></circle>
      </g>
      <g id="el9z2wdwqq2zv">
        <circle cx="365.29" cy="247.05" r="22.67" style="fill: rgb(255, 255, 255); opacity: 0.466667; transform-origin: 365.29px 247.05px 0px; transform: rotate(-67.85deg);" class="animable"></circle>
      </g>
      <g id="elz2fv3ku3qmd">
        <circle cx="362.41" cy="245.02" r="17.9" style="fill: rgb(255, 255, 255); opacity: 0.583333; transform-origin: 362.41px 245.02px 0px; transform: rotate(-23.17deg);" class="animable"></circle>
      </g>
      <g id="el5cblou4fay7">
        <circle cx="359.54" cy="243" r="13.12" style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 359.54px 243px 0px; transform: rotate(-45deg);" class="animable"></circle>
      </g>
      <g id="elzeq0vvyaz9">
        <path d="M415.58,270.69a41.78,41.78,0,0,1-54.32,23.25c-.68-.27-1.34-.56-2-.86a41.79,41.79,0,0,0,17.79-79.72,41.82,41.82,0,0,1,38.52,57.33Z" style="fill: rgb(69, 90, 100); opacity: 0.05; transform-origin: 388.907px 255.148px 0px;" class="animable"></path>
      </g>
      <g id="elwonjrhlz55">
        <path d="M402,225.71a38.81,38.81,0,0,1-29.59,67.77,41.17,41.17,0,0,0,21-71.64,41.65,41.65,0,0,0-5.38-4A38.62,38.62,0,0,1,402,225.71Z" style="fill: rgb(69, 90, 100); opacity: 0.1; transform-origin: 393.808px 255.763px 0px;" class="animable"></path>
      </g>
      <g id="el3nkbs5sgkbe">
        <circle cx="359.27" cy="270.6" r="13.12" style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 359.27px 270.6px 0px; transform: rotate(-65.86deg);" class="animable"></circle>
      </g>
      <g id="el59zwtme2oz9">
        <circle cx="365.66" cy="233.13" r="13.12" style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 365.66px 233.13px 0px; transform: rotate(-51.91deg);" class="animable"></circle>
      </g>
      <g id="elv4ut4hc336k">
        <path d="M342.86,254.34a6.47,6.47,0,1,1,8.41-3.6A6.47,6.47,0,0,1,342.86,254.34Z" style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 345.264px 248.334px 0px;" class="animable"></path>
      </g>
      <g id="el7nyz8v5d88b">
        <g style="opacity: 0.1; transform-origin: 380.4px 260.345px 0px;" class="animable">
          <path d="M460.21,215.13c-1.38-2.44-4.9-6.52-13-6.52-8.42,0-22.2,4.26-41,12.67l-2.27,1-.88.38c.29.23.58.46.86.72l.42-.18,2.28-1c18.65-8.35,32.3-12.58,40.57-12.58,7.58,0,10.85,3.77,12.12,6,5.6,9.88-5.18,23.07-36,44.11q-2.71,1.86-5.55,3.71c-8.22,5.4-17.1,10.81-26.47,16.11-9.61,5.45-19.36,10.56-28.54,14.95-2.05,1-4.07,1.93-6.05,2.83-19.93,9.12-34.43,13.74-43.12,13.74-7.59,0-10.85-3.77-12.12-6-5.4-9.53,3.8-21.45,31.74-41.13l2.05-1.44.37-.27c-.07-.36-.12-.72-.17-1.09l-.78.55-2,1.44c-28.47,20-37.75,32.34-32,42.43,1.37,2.44,4.9,6.52,13,6.52,8.83,0,23.48-4.65,43.54-13.83,2.28-1,4.61-2.14,7-3.28,8.92-4.3,18.37-9.26,27.69-14.54,9.07-5.14,17.67-10.36,25.67-15.59q3.29-2.15,6.42-4.28C455.26,239.15,466.12,225.56,460.21,215.13Z" style="fill: rgb(255, 255, 255); transform-origin: 380.4px 260.345px 0px;" id="el5g51og297p" class="animable"></path>
        </g>
      </g>
      <g id="el6go9wivqyod">
        <g style="opacity: 0.1; transform-origin: 380.406px 260.37px 0px;" class="animable">
          <path d="M421.61,257.25c-1.07.73-2.15,1.45-3.24,2.18C409.58,265.29,400,271.18,389.8,277c-10.41,5.89-21,11.39-30.8,16-1.2.57-2.39,1.12-3.56,1.66-13.43,6.14-31.59,13.46-41.87,13.46-5.76,0-8.35-2.44-9.51-4.49-4.33-7.65,5.19-19.12,30.86-37.19l1.37-1c.08.34.18.68.28,1l-1.07.76c-25.16,17.72-34.59,28.79-30.57,35.89,1,1.81,3.36,4,8.64,4,10.1,0,28.12-7.27,41.46-13.37l2.82-1.31c10-4.68,20.81-10.28,31.46-16.31,10.42-5.91,20.22-11.93,29.17-17.92h0c.87-.57,1.72-1.15,2.57-1.73,36.73-25,37.46-34.15,34.81-38.83-1-1.81-3.36-4-8.64-4-9.6,0-26.47,6.65-38.93,12.23l-1.19.54c-.25-.26-.49-.52-.75-.77l1.53-.68c12.55-5.62,29.57-12.32,39.34-12.32,5.76,0,8.35,2.44,9.51,4.49C459.57,222.12,459,231.74,421.61,257.25Z" style="fill: rgb(255, 255, 255); transform-origin: 380.406px 260.37px 0px;" id="elnngv8nxflmo" class="animable"></path>
        </g>
      </g>
      <g id="elfeym2mu2wgt">
        <g style="opacity: 0.2; transform-origin: 380.387px 260.35px 0px;" class="animable">
          <path d="M419.92,254.77l-1.34.91c-9.24,6.24-19.41,12.51-30.26,18.65-11.09,6.28-22.34,12.1-32.66,16.88l-1.46.67c-18.6,8.5-33,13.19-40.63,13.19-3.46,0-5.79-1-6.9-3-3.31-5.84,6.5-16.72,30-33.26l.54-.38c.11.33.22.65.35,1h0l-.32.22C309,289.54,305.5,298,307.54,301.61c.92,1.63,2.95,2.46,6,2.46,7.46,0,21.74-4.65,40.21-13.1l.85-.39c10.46-4.82,21.93-10.72,33.2-17.12,11-6.26,21.38-12.64,30.75-19l.78-.53c24.95-17,37-29.4,33.89-34.87-.92-1.63-2.95-2.46-6-2.46-7.08,0-20.47,4.25-37.71,12l-.34.15-.66-.79.6-.27c17.36-7.78,30.9-12.06,38.11-12.06,3.46,0,5.79,1,6.9,3C457.61,224.74,446.11,236.92,419.92,254.77Z" style="fill: rgb(255, 255, 255); transform-origin: 380.387px 260.35px 0px;" id="eldz0iq4qdwzu" class="animable"></path>
        </g>
      </g>
      <g id="elt1135oafsy">
        <g style="opacity: 0.3; transform-origin: 379.68px 259.065px 0px;" class="animable">
          <path d="M428.6,231.36l-.2.55c-.4,1.09-2.32,4.37-11.51,11.52l-.49.38a291.71,291.71,0,0,1-33.17,21.53c-13.42,7.6-26.43,13.93-36.65,17.82l-.6.23c-6.17,2.31-11,3.59-13.65,3.59a5.62,5.62,0,0,1-1-.08l-.57-.12.2-.55c.36-1,2-3.87,9.71-10.1.16.3.33.59.51.88-6.2,5-8.29,7.75-9,9h.14c2.5,0,7.07-1.2,12.94-3.39l1-.36c10.17-3.88,23.14-10.19,36.51-17.76A290.28,290.28,0,0,0,415.79,243l.79-.61c7.44-5.83,9.83-8.92,10.59-10.24H427c-2.53,0-7.23,1.25-13.27,3.52-.15-.3-.31-.6-.48-.89,6.2-2.34,11.08-3.63,13.75-3.63a5.5,5.5,0,0,1,1,.08Z" style="fill: rgb(255, 255, 255); transform-origin: 379.68px 259.065px 0px;" id="elnpgvgpde3sb" class="animable"></path>
        </g>
      </g>
      <g id="eli4zrslvpdjr">
        <path d="M418.58,254.47c0,.4,0,.8,0,1.21,0,.82,0,1.64-.1,2.47h0c0,.42-.07.84-.11,1.27a39.26,39.26,0,0,1-.62,4c-.09.46-.19.93-.3,1.39a41.07,41.07,0,0,1-1.87,5.86A41.78,41.78,0,0,1,364.09,295l-1.35-.46c-.5-.18-1-.36-1.48-.56-.77-.31-1.52-.64-2.26-1-.39-.18-.77-.36-1.15-.56-.75-.37-1.48-.77-2.19-1.18l-1-.63a41.52,41.52,0,0,1-8.65-7.19c-.24-.26-.47-.53-.71-.8l1-.36c10.17-3.88,23.14-10.19,36.51-17.76A290.28,290.28,0,0,0,415.79,243l.79-.61c.12.34.22.68.31,1A40.94,40.94,0,0,1,418.58,254.47Z" style="fill: rgb(255, 255, 255); opacity: 0; transform-origin: 381.94px 269.685px 0px;" class="animable"></path>
      </g>
      <path d="M452,219.81c2.61,4.62-11.16,17.7-33.44,32.89-9.2,6.28-19.86,12.91-31.42,19.46-12,6.78-23.53,12.69-33.93,17.44-23.94,10.95-41.74,15.82-44.32,11.27-2.44-4.32,9.46-16.05,29.25-30,.55,1.34,1.16,2.65,1.84,3.93-7.5,6-11.52,10.68-10.4,12.67s7.81.81,17.58-2.91A287.83,287.83,0,0,0,384,266.64,293,293,0,0,0,417.32,245c8.84-6.83,13.73-12.17,12.51-14.33s-7.68-.84-17.31,2.81c-.74-1.22-1.54-2.4-2.39-3.53C432.8,219.8,449.46,215.42,452,219.81Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_7--inject-41&quot;); transform-origin: 380.445px 260.34px 0px;" id="el846mu5cst38" class="animable"></path>
    </g>
    <g id="freepik--Rocket--inject-41" style="transform-origin: 175.095px 289.75px 0px;" class="animable animator-hidden">
      <g id="freepik--rocket--inject-41" style="transform-origin: 175.095px 289.75px 0px;" class="animable">
        <path d="M238.9,282a10.15,10.15,0,0,0-4.58-7.94,3.43,3.43,0,0,0-2.89-.45v0l-19.84,7.72L221.3,298l16.56-13.28v0A3.42,3.42,0,0,0,238.9,282Z" style="fill: rgb(245, 245, 245); transform-origin: 225.25px 285.735px 0px;" id="elbnw0jhdmkih" class="animable"></path>
        <path d="M227.91,274.91a3.87,3.87,0,0,1,3,.55,11.21,11.21,0,0,1,5.06,8.77,3.9,3.9,0,0,1-1,2.82l1.61-1.3,1.29-1.07A3.42,3.42,0,0,0,238.9,282a10.15,10.15,0,0,0-4.58-7.94,3.43,3.43,0,0,0-2.89-.45l-1.68.63Z" style="fill: rgb(16, 185, 129); transform-origin: 233.409px 280.26px 0px;" id="elrvn8q7156p" class="animable"></path>
        <g id="ell65h4hlfev">
          <path d="M238.49,279.55l-20.9,12.06L221.3,298l16.56-13.28v0A3.42,3.42,0,0,0,238.9,282,8,8,0,0,0,238.49,279.55Z" style="fill: rgb(69, 90, 100); opacity: 0.1; transform-origin: 228.25px 288.775px 0px;" class="animable"></path>
        </g>
        <path d="M216,282a15.2,15.2,0,0,1,6.87,11.9c0,4.38-3.08,6.15-6.87,4a15.2,15.2,0,0,1-6.87-11.9C209.13,281.54,212.21,279.77,216,282Z" style="fill: rgb(224, 224, 224); transform-origin: 216px 289.925px 0px;" id="elgzptwywxpp" class="animable"></path>
        <path d="M232.7,263.26a10.14,10.14,0,0,0-4.58-7.93,3.4,3.4,0,0,0-2.89-.45l0,0-19.84,7.72,9.73,16.73L231.66,266v0A3.44,3.44,0,0,0,232.7,263.26Z" style="fill: rgb(245, 245, 245); transform-origin: 219.05px 267.034px 0px;" id="el8tcw1d6z0a3" class="animable"></path>
        <path d="M221.71,256.22a3.8,3.8,0,0,1,2.95.55,11.18,11.18,0,0,1,5.07,8.76,3.88,3.88,0,0,1-1,2.82l1.61-1.29,1.29-1.07a3.44,3.44,0,0,0,1-2.73,10.14,10.14,0,0,0-4.58-7.93,3.4,3.4,0,0,0-2.89-.45l-1.68.62Z" style="fill: rgb(16, 185, 129); transform-origin: 227.176px 261.544px 0px;" id="el0out5prkmshq" class="animable"></path>
        <g id="el0c0zuhzpj6l">
          <path d="M232.28,260.85l-20.89,12.07,3.71,6.38L231.66,266v0a3.44,3.44,0,0,0,1-2.73A8.1,8.1,0,0,0,232.28,260.85Z" style="fill: rgb(69, 90, 100); opacity: 0.1; transform-origin: 222.031px 270.075px 0px;" class="animable"></path>
        </g>
        <g id="elv4dx1eb7cxn">
          <ellipse cx="209.8" cy="271.19" rx="5.61" ry="9.71" style="fill: rgb(224, 224, 224); transform-origin: 209.8px 271.19px 0px; transform: rotate(-30deg);" class="animable"></ellipse>
        </g>
        <polygon points="111.36 323.29 133.76 297.42 139.36 255.38 150.56 248.91 195.37 274.79 111.36 323.29" style="fill: rgb(16, 185, 129); transform-origin: 153.365px 286.1px 0px;" id="elt2v5l27xyeb" class="animable"></polygon>
        <g id="elmydv2eotrd">
          <polygon points="111.36 323.29 133.76 297.42 139.36 255.38 150.56 248.91 195.37 274.79 111.36 323.29" style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 153.365px 286.1px 0px;" class="animable"></polygon>
        </g>
        <polygon points="150.56 248.91 139.36 255.38 184.17 281.25 195.37 274.79 150.56 248.91" style="fill: rgb(16, 185, 129); transform-origin: 167.365px 265.08px 0px;" id="els2nwhdglfw" class="animable"></polygon>
        <g id="elz4e4ysgchyo">
          <polygon points="150.56 248.91 139.36 255.38 184.17 281.25 195.37 274.79 150.56 248.91" style="fill: rgb(69, 90, 100); opacity: 0.3; transform-origin: 167.365px 265.08px 0px;" class="animable"></polygon>
        </g>
        <path d="M212.18,258.54c-3.92-2.26-7.55-2.92-10.53-2.2a8,8,0,0,0-2.15.83l-.44.24-67.29,38.86a81.86,81.86,0,0,0-27.46,25.92l-21.64,32.9L87,361.17l33.25-5.34a85.84,85.84,0,0,0,29.4-10.44l75.65-43.67c2.65-1.64,4.43-4.73,4.94-9a24.17,24.17,0,0,0,.15-2.62C230.38,278.47,222.23,264.35,212.18,258.54Z" style="fill: rgb(16, 185, 129); transform-origin: 156.53px 308.616px 0px;" id="elcmbj0uc0cut" class="animable"></path>
        <g id="el9pr5phb85s">
          <path d="M212.18,258.54c-3.92-2.26-7.55-2.92-10.53-2.2a8,8,0,0,0-2.15.83l-.44.24-67.29,38.86a81.86,81.86,0,0,0-27.46,25.92l-21.64,32.9L87,361.17l33.25-5.34a85.84,85.84,0,0,0,29.4-10.44l75.65-43.67c2.65-1.64,4.43-4.73,4.94-9a24.17,24.17,0,0,0,.15-2.62C230.38,278.47,222.23,264.35,212.18,258.54Z" style="fill: rgb(255, 255, 255); opacity: 0.9; transform-origin: 156.53px 308.616px 0px;" class="animable"></path>
        </g>
        <path d="M216.64,306.69c2.65-1.64,4.43-4.73,4.94-9a24.17,24.17,0,0,0,.15-2.62c0-11.61-8.15-25.73-18.2-31.53-3.92-2.27-7.54-2.93-10.52-2.21a7.87,7.87,0,0,0-2.15.83l8.64-5a8,8,0,0,1,2.15-.83c3-.72,6.61-.06,10.53,2.2,10,5.81,18.2,19.93,18.2,31.54a24.17,24.17,0,0,1-.15,2.62c-.51,4.29-2.29,7.38-4.94,9Z" style="fill: rgb(16, 185, 129); transform-origin: 210.62px 281.371px 0px;" id="elp0k0c7sw34" class="animable"></path>
        <path d="M89.41,349.21a4.16,4.16,0,0,0-2.44-.65l-2.44,3.71-1.86,2.83h0A4,4,0,0,0,86,361.29a4.09,4.09,0,0,0,1-.14h0l2.84-.45,3.83-.62a3.7,3.7,0,0,0,.61-1.71c0-.22,0-.46,0-.71A10.79,10.79,0,0,0,89.41,349.21Z" style="fill: rgb(16, 185, 129); transform-origin: 88.1486px 354.923px 0px;" id="elq3nwbzqby9h" class="animable"></path>
        <g id="elrlhvk5tub3">
          <path d="M133.76,313.59c9.83-5.81,57.33-33.18,85.44-49.36a31.22,31.22,0,0,0-7-5.69c-3.92-2.26-7.55-2.92-10.53-2.2a8,8,0,0,0-2.15.83l-.44.24-67.29,38.86a81.86,81.86,0,0,0-27.46,25.92L83.43,353.93l-.76,1.17h0a4,4,0,0,0-.67,2.21,3.92,3.92,0,0,0,1,2.63c-2-4.31,15.77-15.89,25.61-25.18S128.23,316.86,133.76,313.59Z" style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 150.6px 308.001px 0px;" class="animable"></path>
        </g>
        <path d="M123.93,335.87c-2.82-5.8-7.08-10.65-11.69-13.3a14.2,14.2,0,0,0-6.75-2.08c-.39.57-.8,1.12-1.18,1.7l-9,13.68,1.09-.1a2.75,2.75,0,0,1,.41,0,7.57,7.57,0,0,1,3.68,1.14,19.11,19.11,0,0,1,6.7,7.3l.64,1.16,16.7-8.25Z" style="fill: rgb(16, 185, 129); transform-origin: 109.92px 332.93px 0px;" id="el1hiyn4fie93" class="animable"></path>
        <path d="M111.55,323.76a12,12,0,0,0-7-1.87L96.27,334.4a8.32,8.32,0,0,1,4.9,1.3,20.35,20.35,0,0,1,7.23,7.83l14.29-7.06C120.11,331.16,116.08,326.37,111.55,323.76Z" style="fill: rgb(69, 90, 100); transform-origin: 109.48px 332.704px 0px;" id="elkzg61hu6ov8" class="animable"></path>
        <g id="elji5pjr5xh9">
          <path d="M111.55,323.76a12,12,0,0,0-7-1.87L96.27,334.4a6.44,6.44,0,0,1,1.78.11c1.13-1.26,2.27-3.28,4.22-2.92,2.26.42,4,2.7,5.84,3.86a4.22,4.22,0,0,0,3.31.64,7.82,7.82,0,0,0,2.58-1.8,3.36,3.36,0,0,1,2.87-1c1.12.3,1.56,1.38,2,2.33a16.42,16.42,0,0,1,1,2.28l2.86-1.42C120.11,331.16,116.08,326.37,111.55,323.76Z" style="fill: rgb(255, 255, 255); opacity: 0.1; transform-origin: 109.5px 329.889px 0px;" class="animable"></path>
        </g>
        <g id="el5x1n2n6pjop">
          <path d="M104.47,329l.07.05a28.67,28.67,0,0,0,2.83,1.66c.81.42,1.89.77,2.57.16s.53-1.79,1.25-2.29a1.85,1.85,0,0,1,1-.25,10.44,10.44,0,0,1,8.34,4.34,27.83,27.83,0,0,0-9-8.93,12,12,0,0,0-7-1.87l-4.84,7.34C101.44,327.92,102.68,327.86,104.47,329Z" style="fill: rgb(255, 255, 255); opacity: 0.05; transform-origin: 110.11px 327.264px 0px;" class="animable"></path>
        </g>
        <g id="ellfowcwqdyu">
          <path d="M230.23,292.7a24.17,24.17,0,0,0,.15-2.62,29.11,29.11,0,0,0-.2-3.07c-23.37,13.44-80.39,46.25-90.82,52.45-13.19,7.84-45.65,19-54,19.4-2,.11-2.7-1.42-2.65-3.81l0,.05h0A4,4,0,0,0,86,361.29a4.09,4.09,0,0,0,1-.14v0l33.25-5.34a85.84,85.84,0,0,0,29.4-10.44l75.65-43.67C227.94,300.08,229.72,297,230.23,292.7Z" style="fill: rgb(16, 185, 129); opacity: 0.15; transform-origin: 156.218px 324.15px 0px;" class="animable"></path>
        </g>
        <g id="el7f3ltq6oza6">
          <path d="M87,361.15h0l2.84-.45,3.83-.62a3.7,3.7,0,0,0,.61-1.71c0-.22,0-.46,0-.71s0-.4,0-.6a50.13,50.13,0,0,1-8.91,1.79c-2,.11-2.7-1.42-2.65-3.81l0,.05h0A4,4,0,0,0,86,361.29a3.84,3.84,0,0,0,.91-.12Z" style="fill: rgb(69, 90, 100); opacity: 0.6; transform-origin: 88.1702px 358.165px 0px;" class="animable"></path>
        </g>
        <polygon points="268.19 316.83 223.38 290.95 139.36 339.46 139.36 339.46 184.17 329.76 256.99 326.53 268.19 320.06 268.19 316.83" style="fill: rgb(16, 185, 129); transform-origin: 203.775px 315.205px 0px;" id="elxxrvv0jsbin" class="animable"></polygon>
        <g id="elqw8c74i5sa">
          <polygon points="268.19 316.83 223.38 290.95 139.36 339.46 139.36 339.46 184.17 329.76 256.99 326.53 268.19 320.06 268.19 316.83" style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 203.775px 315.205px 0px;" class="animable"></polygon>
        </g>
        <polygon points="184.17 329.76 184.17 326.53 139.36 339.46 139.36 339.46 184.17 329.76" style="fill: rgb(16, 185, 129); transform-origin: 161.765px 332.995px 0px;" id="el09o05zo22fze" class="animable"></polygon>
        <polygon points="184.17 326.53 256.99 323.29 256.99 326.53 184.17 329.76 184.17 326.53" style="fill: rgb(16, 185, 129); transform-origin: 220.58px 326.525px 0px;" id="elqd6n61pultt" class="animable"></polygon>
        <g id="ele1mo60tb8mu">
          <polygon points="184.17 326.53 256.99 323.29 256.99 326.53 184.17 329.76 184.17 326.53" style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 220.58px 326.525px 0px;" class="animable"></polygon>
        </g>
        <polygon points="212.18 297.42 256.99 323.29 268.19 316.83 223.38 290.95 212.18 297.42" style="fill: rgb(16, 185, 129); transform-origin: 240.185px 307.12px 0px;" id="elcpdp3rpbxpq" class="animable"></polygon>
        <g id="elg99ojpa1935">
          <polygon points="212.18 297.42 256.99 323.29 268.19 316.83 223.38 290.95 212.18 297.42" style="fill: rgb(69, 90, 100); opacity: 0.3; transform-origin: 240.185px 307.12px 0px;" class="animable"></polygon>
        </g>
        <polygon points="268.19 316.83 256.99 323.29 256.99 326.53 268.19 320.06 268.19 316.83" style="fill: rgb(16, 185, 129); transform-origin: 262.59px 321.68px 0px;" id="elsdgaskmbwk" class="animable"></polygon>
        <g id="eljsuu3qe7g6n">
          <polygon points="268.19 316.83 256.99 323.29 256.99 326.53 268.19 320.06 268.19 316.83" style="fill: rgb(69, 90, 100); opacity: 0.5; transform-origin: 262.59px 321.68px 0px;" class="animable"></polygon>
        </g>
        <polygon points="220.59 218.21 214.99 221.45 186.98 269.95 189.77 271.55 212.24 258.58 223.38 219.81 220.59 218.21" style="fill: rgb(16, 185, 129); transform-origin: 205.18px 244.88px 0px;" id="elde4qqegz1ap" class="animable"></polygon>
        <polygon points="189.77 271.55 212.24 258.58 223.38 219.81 217.78 223.04 189.77 271.55" style="fill: rgb(16, 185, 129); transform-origin: 206.575px 245.68px 0px;" id="elb36vvx8rbqc" class="animable"></polygon>
        <g id="elvfzjmfg8s3n">
          <polygon points="214.99 221.45 217.78 223.04 223.38 219.81 220.59 218.21 214.99 221.45" style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 219.185px 220.625px 0px;" class="animable"></polygon>
        </g>
        <g id="elfowuunxeglb">
          <polygon points="217.78 223.04 189.77 271.55 212.24 258.58 223.38 219.81 217.78 223.04" style="fill: rgb(69, 90, 100); opacity: 0.6; transform-origin: 206.575px 245.68px 0px;" class="animable"></polygon>
        </g>
        <g id="elvphad4p889p">
          <path d="M230,260.77c-2.23-3.86-3.44-11,3.17-15.36s11.87-1.92,11.87-1.92-2.49,2-2.42,3.92c0,0,7.17-6.3,12.55-3.64,0,0-4.4,2.16-3.77,4.09s8.27-1.6,10.92-5.15c0,0,.38,3.11-2.73,6.94s-9.75,6.89-9.75,6.89a5.84,5.84,0,0,0,5-.28s-4.17,6.51-9.95,9.3A11.28,11.28,0,0,1,230,260.77Z" style="fill: rgb(16, 185, 129); opacity: 0.8; transform-origin: 245.281px 254.71px 0px;" class="animable"></path>
        </g>
        <g id="elxa7ge5s2x5n">
          <path d="M233.28,258.84c-2.05-3.55,1.42-8.86,8.3-8.24,0,0-3.17,2.11-2.2,3.92s7.42-1.66,8.72-2.7c0,0-2.17,5.55-6.43,8C238.62,261.59,235.2,262.18,233.28,258.84Z" style="fill: rgb(255, 255, 255); opacity: 0.8; transform-origin: 240.397px 255.9px 0px;" class="animable"></path>
        </g>
        <g id="elkwuwa8jn8cs">
          <path d="M235.73,278.58c2.23,3.86,7.79,8.48,14.89,4.93s7.59-9.32,7.59-9.32-3,1.14-4.6.14c0,0,9-3.06,9.42-9.05,0,0-4.06,2.73-5.43,1.22s5.53-6.36,9.93-6.88c0,0-2.5-1.88-7.38-1.11s-11.1,6.06-11.1,6.06a6.36,6.36,0,0,1,1.75-4.95A23.57,23.57,0,0,0,239,263.26,11.28,11.28,0,0,0,235.73,278.58Z" style="fill: rgb(16, 185, 129); opacity: 0.8; transform-origin: 250.776px 271.553px 0px;" class="animable"></path>
        </g>
        <g id="eld3gua56elrb">
          <path d="M239,276.73c2.05,3.54,8.38,3.19,11.28-3.08,0,0-3.41,1.7-4.49-.06s5.15-5.59,6.7-6.19c0,0-5.9-.9-10.15,1.56C239.31,270.72,237.1,273.39,239,276.73Z" style="fill: rgb(255, 255, 255); opacity: 0.8; transform-origin: 245.392px 273.111px 0px;" class="animable"></path>
        </g>
      </g>
    </g>
    <g id="freepik--Stars--inject-41" style="transform-origin: 221.783px 244.091px 0px;" class="animable animator-active">
      <g id="elq0myl50vz0n">
        <path d="M349.76,341.79a8.39,8.39,0,1,1,8.39-8.39A8.39,8.39,0,0,1,349.76,341.79Zm0-16.1a7.71,7.71,0,1,0,7.71,7.71A7.72,7.72,0,0,0,349.76,325.69Z" style="fill: rgb(16, 185, 129); opacity: 0.5; transform-origin: 349.76px 333.4px 0px;" class="animable"></path>
      </g>
      <path d="M352.12,333.4a2.36,2.36,0,1,1-2.36-2.36A2.36,2.36,0,0,1,352.12,333.4Z" style="fill: rgb(255, 255, 255); transform-origin: 349.76px 333.4px 0px;" id="elqoki5psvdiq" class="animable"></path>
      <g id="el5v8zdq2gnh2">
        <path d="M243.45,191a13.22,13.22,0,1,1,13.22-13.21A13.23,13.23,0,0,1,243.45,191Zm0-25.75A12.54,12.54,0,1,0,256,177.75,12.55,12.55,0,0,0,243.45,165.21Z" style="fill: rgb(16, 185, 129); opacity: 0.5; transform-origin: 243.45px 177.78px 0px;" class="animable"></path>
      </g>
      <path d="M247.23,177.75a3.78,3.78,0,1,1-3.78-3.78A3.77,3.77,0,0,1,247.23,177.75Z" style="fill: rgb(255, 255, 255); transform-origin: 243.45px 177.75px 0px;" id="elrulebgwhqyj" class="animable"></path>
      <g id="eln5fk2eu7g1a">
        <path d="M349.21,139.76a8.39,8.39,0,1,1,8.39-8.39A8.4,8.4,0,0,1,349.21,139.76Zm0-16.1a7.71,7.71,0,1,0,7.71,7.71A7.72,7.72,0,0,0,349.21,123.66Z" style="fill: rgb(16, 185, 129); opacity: 0.5; transform-origin: 349.21px 131.37px 0px;" class="animable"></path>
      </g>
      <path d="M351.58,131.37a2.37,2.37,0,1,1-2.37-2.36A2.36,2.36,0,0,1,351.58,131.37Z" style="fill: rgb(255, 255, 255); transform-origin: 349.21px 131.38px 0px;" id="elvkhdan0egpa" class="animable"></path>
      <g id="elemuuyw2n1z8">
        <path d="M45.68,197.73a8.39,8.39,0,1,1,8.39-8.39A8.39,8.39,0,0,1,45.68,197.73Zm0-16.1a7.71,7.71,0,1,0,7.71,7.71A7.72,7.72,0,0,0,45.68,181.63Z" style="fill: rgb(16, 185, 129); opacity: 0.5; transform-origin: 45.6799px 189.34px 0px;" class="animable"></path>
      </g>
      <path d="M48,189.34A2.36,2.36,0,1,1,45.68,187,2.35,2.35,0,0,1,48,189.34Z" style="fill: rgb(255, 255, 255); transform-origin: 45.6401px 189.36px 0px;" id="elw3d1rv3hyba" class="animable"></path>
      <g id="freepik--stars--inject-41" style="transform-origin: 230.003px 244.091px 0px;" class="animable">
        <path d="M386.48,120.51a1.33,1.33,0,1,1,1.87-.2A1.33,1.33,0,0,1,386.48,120.51Z" style="fill: rgb(240, 240, 240); transform-origin: 387.315px 119.475px 0px;" id="elq1hsbw6k2md" class="animable"></path>
        <path d="M382.54,124.34a.77.77,0,0,1-.12-1.09.78.78,0,0,1,1.09-.12.79.79,0,0,1,.12,1.09A.77.77,0,0,1,382.54,124.34Z" style="fill: rgb(250, 250, 250); transform-origin: 383.021px 123.737px 0px;" id="ellc28xte6bnf" class="animable"></path>
        <path d="M274.47,330.1a1.08,1.08,0,1,1-1.53,0A1.09,1.09,0,0,1,274.47,330.1Z" style="fill: rgb(250, 250, 250); transform-origin: 273.705px 330.864px 0px;" id="elpwrp1bodpdn" class="animable"></path>
        <path d="M284.45,334.83a1.75,1.75,0,0,1,.05,2.49,1.76,1.76,0,1,1-.05-2.49Z" style="fill: rgb(250, 250, 250); transform-origin: 283.234px 336.1px 0px;" id="elb05demyqznr" class="animable"></path>
        <g id="eljqdppxwkkdr">
          <g style="opacity: 0.5; transform-origin: 319.415px 202.81px 0px;" class="animable">
            <path d="M314.35,205.42a1.08,1.08,0,1,1-.6,1.41A1.09,1.09,0,0,1,314.35,205.42Z" style="fill: rgb(250, 250, 250); transform-origin: 314.752px 206.423px 0px;" id="eliy8kmnoa35" class="animable"></path>
            <path d="M322.74,198.24a1.77,1.77,0,1,1-1,2.3A1.78,1.78,0,0,1,322.74,198.24Z" style="fill: rgb(250, 250, 250); transform-origin: 323.387px 199.888px 0px;" id="el8v62h5wuoep" class="animable"></path>
          </g>
        </g>
        <g id="eltar2tojbe9q">
          <g style="opacity: 0.5; transform-origin: 325.1px 372.23px 0px;" class="animable">
            <path d="M330.08,370.57a1.77,1.77,0,1,1-1.77-1.76A1.77,1.77,0,0,1,330.08,370.57Z" style="fill: rgb(250, 250, 250); transform-origin: 328.31px 370.58px 0px;" id="el98zqbwlm547" class="animable"></path>
            <path d="M324.81,375.39a1.06,1.06,0,1,1-1.05-1.05A1,1,0,0,1,324.81,375.39Z" style="fill: rgb(250, 250, 250); transform-origin: 323.751px 375.399px 0px;" id="elmmdtbg5t4xp" class="animable"></path>
            <path d="M321.82,368.81A.85.85,0,1,1,321,368,.85.85,0,0,1,321.82,368.81Z" style="fill: rgb(250, 250, 250); transform-origin: 320.971px 368.85px 0px;" id="el6kw5j5tiymj" class="animable"></path>
          </g>
        </g>
        <g id="el4g4x3acqfq">
          <g style="opacity: 0.5; transform-origin: 58.705px 366.62px 0px;" class="animable">
            <path d="M63.68,365a1.76,1.76,0,1,1-1.76-1.76A1.76,1.76,0,0,1,63.68,365Z" style="fill: rgb(250, 250, 250); transform-origin: 61.92px 365px 0px;" id="eln9d7yh1w2v" class="animable"></path>
            <path d="M58.41,369.86a1,1,0,1,1-1-1.05A1,1,0,0,1,58.41,369.86Z" style="fill: rgb(250, 250, 250); transform-origin: 57.4112px 369.81px 0px;" id="elem7yurw48q9" class="animable"></path>
            <path d="M55.43,363.28a.85.85,0,1,1-.85-.85A.85.85,0,0,1,55.43,363.28Z" style="fill: rgb(250, 250, 250); transform-origin: 54.58px 363.28px 0px;" id="el1kp6j25rmyu" class="animable"></path>
          </g>
        </g>
        <path d="M192.78,121.77a1.08,1.08,0,1,1-1.08-1.08A1.08,1.08,0,0,1,192.78,121.77Z" style="fill: rgb(250, 250, 250); transform-origin: 191.7px 121.77px 0px;" id="ely998n6mrx19" class="animable"></path>
        <path d="M197.87,107.6l2.44,2.41,3.36-.65a.39.39,0,0,1,.42.56L202.56,113l1.65,3a.39.39,0,0,1-.4.58l-3.38-.51-2.35,2.5a.39.39,0,0,1-.67-.21l-.56-3.38-3.1-1.45a.39.39,0,0,1,0-.7l3-1.58.43-3.4A.39.39,0,0,1,197.87,107.6Z" style="fill: rgb(250, 250, 250); transform-origin: 198.897px 113.076px 0px;" id="elnejvnrgyhof" class="animable"></path>
        <path d="M113,263.71l.38,2.63,2.37,1.17a.3.3,0,0,1,0,.54l-2.37,1.17-.39,2.63a.3.3,0,0,1-.51.16l-1.85-1.9-2.61.45a.3.3,0,0,1-.32-.44l1.23-2.34-1.23-2.35A.31.31,0,0,1,108,265l2.61.45,1.85-1.89A.31.31,0,0,1,113,263.71Z" style="fill: rgb(250, 250, 250); transform-origin: 111.791px 267.776px 0px;" id="elyo7acrpvl7d" class="animable"></path>
        <path d="M348.05,94.43l2.6-.47,1.09-2.42a.3.3,0,0,1,.54,0l1.26,2.34,2.63.29a.3.3,0,0,1,.19.5l-1.83,1.92.54,2.59a.31.31,0,0,1-.43.34l-2.39-1.15L350,99.66a.3.3,0,0,1-.45-.3l.36-2.63-2-1.78A.3.3,0,0,1,348.05,94.43Z" style="fill: rgb(250, 250, 250); transform-origin: 352.123px 95.5364px 0px;" id="elo1s237nm5dc" class="animable"></path>
        <path d="M189.87,373.3a1.33,1.33,0,1,1-1.82.48A1.32,1.32,0,0,1,189.87,373.3Z" style="fill: rgb(240, 240, 240); transform-origin: 189.2px 374.447px 0px;" id="elvchy26wi2wf" class="animable"></path>
        <path d="M193.17,368.91a.78.78,0,0,1,.29,1.06.77.77,0,0,1-1.06.28.77.77,0,1,1,.77-1.34Z" style="fill: rgb(250, 250, 250); transform-origin: 192.787px 369.582px 0px;" id="el6a3zq0suyj" class="animable"></path>
        <path d="M231.85,393.17l-2.51.87-.7,2.55a.3.3,0,0,1-.53.1l-1.6-2.11-2.65.12a.3.3,0,0,1-.26-.48l1.51-2.17-.93-2.48a.3.3,0,0,1,.37-.4l2.54.77,2.07-1.65a.3.3,0,0,1,.49.23l0,2.65,2.21,1.46A.3.3,0,0,1,231.85,393.17Z" style="fill: rgb(250, 250, 250); transform-origin: 227.782px 392.517px 0px;" id="elxrcu6rvr8h" class="animable"></path>
        <path d="M403.86,205.87a1.77,1.77,0,1,1-1,2.3A1.77,1.77,0,0,1,403.86,205.87Z" style="fill: rgb(250, 250, 250); transform-origin: 404.506px 207.518px 0px;" id="elu5a5k7c9s9" class="animable"></path>
      </g>
    </g>
    <g id="freepik--Meteorites--inject-41" style="transform-origin: 217.463px 256.92px 0px;" class="animable">
      <path d="M114.38,389.12a2.32,2.32,0,0,1,0-3.27h0a2.32,2.32,0,0,1,3.27,0s46.14,47.58,45.23,48.49S114.38,389.12,114.38,389.12Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_15--inject-41&quot;); transform-origin: 138.3px 409.765px 0px;" id="ele7ldvn0ur8o" class="animable"></path>
      <path d="M115.25,386.71a1.24,1.24,0,0,1,1.75,1.76,1.24,1.24,0,1,1-1.75-1.76Z" style="fill: rgb(250, 250, 250); transform-origin: 116.125px 387.59px 0px;" id="elexw091th0km" class="animable"></path>
      <path d="M114.09,398.15a1.31,1.31,0,0,1,0-1.85h0a1.3,1.3,0,0,1,1.86,0s18.88,19.8,18.36,20.32S114.09,398.15,114.09,398.15Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_15-2--inject-41&quot;); transform-origin: 124.014px 406.269px 0px;" id="eldm2ldmang5" class="animable"></path>
      <path d="M271.83,83.44a2.32,2.32,0,0,1,0-3.27h0a2.3,2.3,0,0,1,3.27,0s46.14,47.58,45.23,48.49S271.83,83.44,271.83,83.44Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_15-3--inject-41&quot;); transform-origin: 295.75px 104.08px 0px;" id="el7lio8d7jral" class="animable"></path>
      <path d="M272.69,81a1.24,1.24,0,1,1,0,1.75A1.24,1.24,0,0,1,272.69,81Z" style="fill: rgb(250, 250, 250); transform-origin: 273.569px 81.875px 0px;" id="elybbzbrikos" class="animable"></path>
      <path d="M301,98.83A1.3,1.3,0,0,1,301,97h0a1.31,1.31,0,0,1,1.85,0s18.88,19.81,18.36,20.33S301,98.83,301,98.83Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_15-4--inject-41&quot;); transform-origin: 310.922px 106.979px 0px;" id="els8w8ep4l3c" class="animable"></path>
      <path d="M271.54,92.47a1.31,1.31,0,0,1,0-1.85h0a1.29,1.29,0,0,1,1.85,0s18.89,19.8,18.37,20.32S271.54,92.47,271.54,92.47Z" style="fill: url(&quot;#freepik--Degradado_sin_nombre_15-5--inject-41&quot;); transform-origin: 281.464px 100.59px 0px;" id="elv36f8z7mt5b" class="animable"></path>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
        <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
        <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix type="matrix" values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "></feColorMatrix>
      </filter>
    </defs>
    <defs>
      <linearGradient id="freepik--Degradado_sin_nombre_7--inject-41" x1="2184.59" y1="-2018.4" x2="2222.22" y2="-2058.5" gradientTransform="translate(1455.46 3068.63) rotate(-68.17)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#455a64" stop-opacity="0"></stop>
        <stop offset="0.3" stop-color="#3d7f7e" stop-opacity="0.28"></stop>
        <stop offset="0.99" stop-color="#27dcbe" stop-opacity="0.99"></stop>
        <stop offset="1" stop-color="#10B981"></stop>
      </linearGradient>
      <linearGradient id="freepik--Degradado_sin_nombre_15--inject-41" x1="116.05" y1="387.52" x2="163.02" y2="434.49" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#10B981"></stop>
        <stop offset="0.8" stop-color="#455a64"></stop>
        <stop offset="1" stop-color="#455a64" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient id="freepik--Degradado_sin_nombre_15-2--inject-41" x1="114.79" y1="396.99" x2="134.42" y2="416.63" xlink:href="freepik--#Degradado_sin_nombre_15--inject-41"></linearGradient>
      <linearGradient id="freepik--Degradado_sin_nombre_15-3--inject-41" x1="273.5" y1="81.83" x2="320.47" y2="128.8" xlink:href="freepik--#Degradado_sin_nombre_15--inject-41"></linearGradient>
      <linearGradient id="freepik--Degradado_sin_nombre_15-4--inject-41" x1="301.7" y1="97.67" x2="321.34" y2="117.3" xlink:href="freepik--#Degradado_sin_nombre_15--inject-41"></linearGradient>
      <linearGradient id="freepik--Degradado_sin_nombre_15-5--inject-41" x1="272.24" y1="91.31" x2="291.87" y2="110.95" xlink:href="freepik--#Degradado_sin_nombre_15--inject-41"></linearGradient>
    </defs>
  </svg>
  <a href="https://storyset.com/rocket">Illustration by Freepik Storyset</a>
</div>