.button {
  @apply py-2;
  @apply px-4;
  @apply font-semibold;
  @apply text-base;
  @apply text-white;
  @apply bg-transparent;
  @apply rounded-xl;

  display: flex;
  align-items: center;
  width: max-content;
}

.button:hover,
.button:active,
.button:focus {
  @apply outline-none;
}

/* stylelint-disable a11y/media-prefers-reduced-motion */

.button-primary {
  @apply bg-primary;
}

.button-primary:hover,
.button-primary:focus {
  @apply bg-primary-dark;

  transition: background 0.3s ease-in-out;
}

.button-primary:active {
  @apply ring;
  @apply ring-primary-light;
  @apply ring-opacity-50;

  transition: box-shadow 0.3s ease-in-out;
}

.button-accent {
  @apply bg-accent;
}

.button-accent:hover,
.button-accent:focus {
  @apply bg-accent-dark;

  transition: background 0.3s ease-in-out;
}

.button-accent:active {
  @apply ring;
  @apply ring-accent-light;
  @apply ring-opacity-50;

  transition: box-shadow 0.3s ease-in-out;
}

.button-neutral {
  @apply bg-neutral;
}

.button-neutral:hover,
.button-neutral:focus {
  @apply bg-neutral-dark;

  transition: background 0.3s ease-in-out;
}

.button-neutral:active {
  @apply ring;
  @apply ring-neutral-light;
  @apply ring-opacity-50;

  transition: box-shadow 0.3s ease-in-out;
}

.button-success {
  @apply bg-success;
}

.button-success:hover,
.button-success:focus {
  @apply bg-success-dark;

  transition: background 0.3s ease-in-out;
}

.button-success:active {
  @apply ring;
  @apply ring-success-light;
  @apply ring-opacity-50;

  transition: box-shadow 0.3s ease-in-out;
}

.button-error {
  @apply bg-error;
}

.button-error:hover,
.button-error:focus {
  @apply bg-error-dark;

  transition: background 0.3s ease-in-out;
}

.button-error:active {
  @apply ring;
  @apply ring-error-light;
  @apply ring-opacity-50;

  transition: box-shadow 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .button-primary,
  .button-accent,
  .button-neutral {
    transition: none;
  }
}
