.fancyHeader {
  position: relative;

  min-height: 12rem;

  /* overflow: hidden; */

  /* background-image:
    linear-gradient(
      10deg,
      theme('colors.accent.dark'),
      theme('colors.primary.dark')
    ); */
}

.fancyHeader_background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  /* overflow: hidden; */
}

/* .fancyHeader svg {
  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 100px;
} */

.fancyHeader_backgroundImage {

  width: 100%;
  height: 115%;
  overflow: hidden;

  background-image:
    linear-gradient(
      10deg,
      theme('colors.accent.dark'),
      theme('colors.primary.dark')
    );
  background-size: cover;
}
