/* .input {
  @apply mb-6;
} */

.input_label {
  @apply block;
  @apply text-sm;
  @apply mb-1;
  @apply pr-4;
}

.input_input {
  @apply appearance-none;
  @apply border-2;
  @apply rounded-xl;
  @apply w-full;
  @apply py-2;
  @apply px-4 ;
  @apply leading-tight;
}

.input_input:focus {
  @apply outline-none;
}

/* Input Styling */

.input-primary {
  @apply border-primary;
}

.input-primary:focus {
  @apply ring;
  @apply ring-primary-light;
  @apply ring-opacity-50;
}

.input-success {
  @apply border-success;
}

.input-success:focus {
  @apply border-success;
  @apply ring;
  @apply ring-success-light;
  @apply ring-opacity-50;
}

.input-error {
  @apply border-error;
}

.input-error:focus {
  @apply border-error;
  @apply ring;
  @apply ring-error-light;
  @apply ring-opacity-50;
}

.input-disabled {
  /* color: theme('colors.neutral.light') !important; */

  border-color: theme('colors.neutral.light') !important;
}

/* Message and state */

.input_message {
  @apply my-2;
  @apply text-sm;
}

.input_message-description {
  @apply text-neutral-light;
}

.input_message-success {
  @apply text-success-dark;
}

.input_message-error {
  @apply text-error-dark;
}

/* textarea */
.textarea-noResize {
  resize: none;
}

/* checkbox */

/* .checkbox {

} */

/* .checkbox_label {

} */

.checkbox_inputWrapper {
  @apply block;
}

.checkbox_input {
  @apply appearance-none;
  @apply border-2;
  @apply rounded-xl;
  @apply w-6;
  @apply h-6;
}

.checkbox_input:focus {
  @apply outline-none;
}

.checkbox-primary {
  @apply text-primary;
}

.checkbox-success {
  @apply text-success;
}

.checkbox-error {
  @apply text-error;
}

.checkbox_value {
  @apply ml-2;
}
