/* List */

.list {
  @apply rounded-xl;
  @apply border;
  @apply border-neutral-200;
}

.list_header {
  @apply rounded-xl;
  @apply rounded-b-none;
  @apply bg-neutral-100;
}

.list_content {
  @apply overflow-hidden;
  @apply rounded-b-xl;
}

/* For use when there is no list header */
.list_content--rounded {
  @apply rounded-xl;
}

.list_empty {
  @apply px-4;
  @apply py-2;
  @apply text-center;
  @apply whitespace-nowrap;
}

.list_item {
  @apply px-4;
  @apply py-2;
}

/* News List Item */

.newsListItem {
  @apply px-4;
  @apply py-4;
  @apply transition-colors;
  @apply duration-200;
}

.newsListItem:hover,
.newsListItem:focus {
  @apply bg-neutral-100;
  @apply cursor-pointer;
}

.newsListItem_title {
  @apply font-heading;
  @apply font-bold;
  @apply capitalize;
  @apply text-xl;
}

.newsListItem_date {
  @apply text-sm;
  @apply uppercase;
  @apply font-bold;
  @apply text-primary;
  @apply mb-2;
}

.newsListItem_content {
  @apply flex;
  @apply flex-row;
  @apply justify-start;
}

.newsListItem_image {
  @apply flex-none;
  @apply h-24;
  @apply w-24;
}

.newsListItem_image img {
  height: auto;
}

.newsListItem_summary {
  @apply flex;
  @apply text-neutral-600;
  @apply overflow-ellipsis;
  @apply overflow-hidden;
  @apply ml-2;
  @apply h-24;
}
