/* .nav {

} */

.nav_item {
  @apply font-heading;
  @apply text-neutral-300;
  @apply border-b-4;
  @apply border-transparent;
  @apply px-2;
  @apply pt-3;
  @apply pb-2;
}

.nav_item:hover,
.nav_item:focus {
  @apply text-white;

  /* @apply border-primary; */
}

.nav_item.active {
  @apply font-bold;
  @apply text-white;

  /* @apply border-primary; */
}
