/* .select {
  @apply mb-6;
} */

.select_label {
  @apply block;
  @apply text-sm;
  @apply mb-1;
  @apply pr-4;
}

.select_select {
  @apply appearance-none;
  @apply border-2;
  @apply rounded-xl;
  @apply w-full;
  @apply py-2;
  @apply px-4 ;
  @apply leading-tight;
}

.select_select:focus {
  @apply outline-none;
}

/* select Styling */

.select-primary {
  @apply border-primary;
}

.select-primary:focus {
  @apply ring;
  @apply ring-primary-light;
  @apply ring-opacity-50;
}

.select-success {
  @apply border-success;
}

.select-success:focus {
  @apply ring;
  @apply ring-success-light;
  @apply ring-opacity-50;
}

.select-error {
  @apply border-error;
}

.select-error:focus {
  @apply ring;
  @apply ring-error-light;
  @apply ring-opacity-50;
}

/* Message and state */

.select_message {
  @apply my-2;
  @apply text-sm;
}

.select_message-description {
  @apply text-neutral-light;
}

.select_message-success {
  @apply text-success-dark;
}

.select_message-error {
  @apply text-error-dark;
}
