
.table {
  @apply min-w-full;
  @apply divide-y;
  @apply divide-neutral-200;
}

.table_header {
  @apply bg-neutral-100;
}

.table_headerRow {
  @apply font-heading;
}

.table_headerCell {
  @apply px-4;
  @apply py-2;
  @apply text-left;
  @apply text-xs;
  @apply font-medium;
  @apply text-neutral-500;
  @apply uppercase;
  @apply tracking-wider;
}

.table_body {
  @apply bg-white;
  @apply divide-y;
  @apply divide-neutral-200;
}

.table_bodyRow:hover,
.table_bodyRow:focus {
  @apply bg-neutral-100;
}

.table_bodyCell {
  @apply px-4;
  @apply py-2;
  @apply whitespace-nowrap;
}
