/* List Heading */
.toolbar {
  @apply flex;
  @apply flex-row;
  @apply p-4;

  width: 100%;
}

.toolbar_title {
  @apply flex-none;
  @apply font-heading;
  @apply uppercase;
  @apply font-bold;
  @apply text-xl;
  @apply my-auto;
}

.toolbar_title a {
  @apply transition-colors;
  @apply delay-200;
}

.toolbar_title svg {
  @apply transition-transform;
  @apply delay-200;
}

.toolbar_title a:hover,
.toolbar_title a:focus {
  @apply text-primary-dark;
}

.toolbar_title a:hover svg,
.toolbar_title a:focus svg {
  @apply transform-gpu;
  @apply translate-x-1;
}

.toolbar_actions {
  @apply flex-auto;
  @apply flex;
  @apply justify-end;
}
