{{page-title "Planets"}}

<div class="planets_content mx-auto max-w-7xl px-4">
  <div class="list">
    <Toolbar class="list_header" @title="Planets" @isLink={{false}}>
      <Input
        @name="Filter"
        @type="text"
        @onInput={{fn this.updateSearch}}
        @placeholder="Search"
        @showLabel={{false}}
        class="mx-2 my-auto"
      />
      <Button @type="accent" @onClick={{fn this.toggleFilters}} class="mr-2">
        <FaIcon @icon="filter" class="mr-2" />
        Filter
      </Button>
      <Dropdown as |d|>
        <d.Toggle>
          <FaIcon @icon="columns" class="mr-2" />
          Columns
        </d.Toggle>
        <d.Menu as |m|>
          {{#each this.dataTableColumns as |col|}}
            <m.Button @onClick={{fn this.toggleColumn col.key}}>
              {{#if (object-key-eq this.visibleColumns col.key true)}}
                <FaIcon @icon="check" class="mr-2" />
              {{/if}}
              {{col.name}}
            </m.Button>
          {{/each}}
        </d.Menu>
      </Dropdown>
    </Toolbar>
    <DataTable
      @data={{@model}}
      @columns={{this.dataTableColumns}}
      @onRowClick={{fn this.handleRowClick}}
      @search={{this.search}}
    />
  </div>
</div>
