.home {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'planets sidebar';
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;

  @apply mx-auto;
  @apply mb-4;
  @apply px-4;
  @apply max-w-7xl;
}

.home_planets {
  grid-area: planets;
}

.home_sidebar {
  grid-area: sidebar;
}

/* Hero for landing page */

.landingHero {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'left right';
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  @apply max-w-7xl;
  @apply mx-auto;
  @apply px-8;
}

.landingHero_left {
  grid-area: left;
}

.landingHero_right {
  grid-area: right;
}

.quotesource::before {
  content: '— ';
}
