.planets {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "hero"
    "content";
  grid-template-rows: auto;
  grid-template-columns: auto;

  @apply max-w-7xl;
  @apply mx-auto;
  @apply px-4;
}

.planets_hero {
  grid-area: hero;

  width: 100%;
}

.planets_content {
  grid-area: content;

  width: 100%;
}
