<div class="newsListItem">
  <h2 class="newsListItem_title">
    {{@article.title}}
  </h2>
  <div class="newsListItem_date">
    {{relative-date @article.publishedAt}}
  </div>
  <div class="newsListItem_content">
    <div class="newsListItem_image">
      <img
        src="{{@article.imageUrl}}"
        alt="{{@article.title}}"
      >
    </div>
    <p class="newsListItem_summary">
      {{@article.summary}}
    </p>
  </div>
</div>