{{#if @open}}
  <div
    class="origin-top-right absolute right-0 mt-2 py-2 w-56 rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="options-menu"
  >
    {{yield (hash
      Item=(component 'dropdown/menu/item')
      Button=(component 'dropdown/menu/button' closeMenu=@closeMenu)
      Divider=(component 'dropdown/menu/divider')
    )}}
  </div>
{{/if}}
