{{page-title "Exo"}}

<FancyHeader>
  <Navbar>
    <Navbar::Item @link="home">Home</Navbar::Item>
    <Navbar::Item @link="planets">Planets</Navbar::Item>
    <Navbar::Item @link="news">News</Navbar::Item>
    <Navbar::Item @link="demo">Demo</Navbar::Item>
  </Navbar>
</FancyHeader>


{{outlet}}