{{page-title "Demo"}}

<div class="pt-4" {{css-transition "page"}}>
  <div class="container mx-auto max-w-7xl px-4">
    <h2 class="font-display font-bold text-4xl my-4">
      Buttons
    </h2>
    <h3 class="font-header font-bold text-2xl my-4">
      Normal Buttons
    </h3>
    <div class="flex flex-row justify-start p-4 space-x-4">
      <Button @theme="primary" @onClick={{fn this.logShit "button"}}>
        Primary
      </Button>
      <Button @theme="accent" @onClick={{fn this.logShit "button"}}>
        Accent
      </Button>
      <Button @onClick={{fn this.logShit "button"}}>
        Neutral
      </Button>
      <Button @theme="success" @onClick={{fn this.logShit "button"}}>
        Success
      </Button>
      <Button @theme="error" @onClick={{fn this.logShit "button"}}>
        Error
      </Button>
    </div>
    <h3 class="font-header font-bold text-2xl my-4">
      Disabled Buttons
    </h3>
    <div class="flex flex-row justify-start p-4 space-x-4">
      <Button @theme="primary" @disabled="true">
        Primary
      </Button>
      <Button @theme="accent" @disabled="true">
        Accent
      </Button>
      <Button @disabled="true">
        Neutral
      </Button>
      <Button @theme="success" @disabled="true">
        Success
      </Button>
      <Button @theme="error" @disabled="true">
        Error
      </Button>
    </div>
  </div>

  <div class="container mx-auto max-w-7xl px-4">
    <h2 class="font-display font-bold text-4xl my-4">
      Forms
    </h2>
    <h3 class="font-header font-bold text-2xl my-4">
      Text Inputs
    </h3>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Input
        @name="Text Input"
        @type="text"
        @onInput={{fn this.logShit}}
        class="m-4"
      />
      <Input
        @name="Disabled Text Input"
        @type="text"
        @disabled="true"
      />
      <Input
        @name="Password Input"
        @type="password"
        @placeholder="Gib me SSN#"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Date Input"
        @type="date"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Time Input"
        @type="time"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Number Input"
        @type="number"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Email Input"
        @type="email"
        @placeholder="please@spam.me"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Url Input"
        @type="url"
        @placeholder="https://duckduckgo.com"
        @onInput={{fn this.logShit}}
      />
      {{!-- <Input
        @name="Search Input"
        @type="search"
        @onInput={{fn this.logShit}}
      /> --}}
      <Input
        @name="Phone Input"
        @type="tel"
        @placeholder="1-222-333-4444"
        @onInput={{fn this.logShit}}
      />
      <Input
        @name="Color Input"
        @type="color"
        @onInput={{fn this.logShit}}
      />
    </div>
    <h3 class="font-header font-bold text-2xl my-4">
      Text Input States
    </h3>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Input
        @name="Text Input"
        @type="text"
        @value="Pre-loaded Value"
        @onInput={{fn this.logShit}}
        @description="This one has a description!"
        class="flex-1 m-4"
      />
      <Input
        @name="Password:"
        @type="password"
        @onInput={{fn this.logShit}}
        @success="Minimum requirements met!"
        @description="Should be a minimum of 3000 characters"
        class="flex-1 m-4"
      />
      <Input
        @name="Password, Again:"
        @type="password"
        @onInput={{fn this.logShit}}
        @error="These don't match, try again lol"
        @description="Should match the first"
        class="flex-1 m-4"
      />
    </div>
    <h3 class="font-header font-bold text-2xl my-4">
      Textarea
    </h3>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Textarea
        class="flex-1 m-4"
        @name="Novel Submission"
        @placeholder="Type your novel here"
        @description="You can exand this if you want"
        @onInput={{fn this.logShit}}
      />
      <Textarea
        class="flex-1"
        @name="Disabled and no Resize"
        @placeholder="I didn't want your book anyway"
        @disabled="true"
      />
    </div>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Textarea
        class="flex-1 m-4"
        @name="Success"
        @value={{this.lorem}}
        @onInput={{fn this.logShit}}
        @success="Novel submission accepted!"
      />
      <Textarea
        class="flex-1"
        @name="Error"
        @value={{this.lorem}}
        @onInput={{fn this.logShit}}
        @error="Oops, something went wrong. You'll have to re-type the entire thing."
      />
    </div>
    <h3 class="font-header font-bold text-2xl my-4">
      Checkboxes
    </h3>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Checkbox
        class="m-4"
        @name="Basic Checkbox"
        @checkedValue="Yes"
        @uncheckedValue="No"
        @onChange={{fn this.logShit}}
      />
      <Checkbox
        @name="Disabled Checkbox"
        @uncheckedValue="Invalid"
        @disabled="true"
      />
      <Checkbox
        @name="Checkbox with Description"
        @checkedValue="Pineapples"
        @uncheckedValue="Waffles"
        @onChange={{fn this.logShit}}
        @description="Pineapples or Waffles? Just answer, don't ask."
      />
      <Checkbox
        @name="Success"
        @default="true"
        @checkedValue="Yippee!"
        @uncheckedValue="Sad"
        @onChange={{fn this.logShit}}
        @success="Congratulations!"
      />
      <Checkbox
        @name="Error"
        @checkedValue="What the crap!"
        @uncheckedValue="Why would you do that"
        @onChange={{fn this.logShit}}
        @error="What is wrong with you?"
      />
    </div>
  </div>

    <div class="container mx-auto max-w-7xl px-4">
    <h2 class="font-display font-bold text-4xl my-4">
      Dropdowns
    </h2>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <Dropdown as |d|>
        <d.Toggle>Dropdown</d.Toggle>
        <d.Menu as |m|>
          <m.Item>First Item</m.Item>
          <m.Divider />
          <m.Button>Second Item</m.Button>
        </d.Menu>
      </Dropdown>
    </div>
  </div>

  <div class="container mx-auto max-w-7xl px-4">
    <h2 class="font-display font-bold text-4xl my-4">
      Lists
    </h2>
    <div class="flex flex-row flex-wrap px-4 space-y-4 space-x-4">
      <List as |list|>
        <list.Header>
          <div class="px-4 py-2">Planets in the Sol System</div>
        </list.Header>
        <list.Item>Mercury</list.Item>
        <list.Item>Venus</list.Item>
        <list.Item>Earth</list.Item>
        <list.Item>Mars</list.Item>
        <list.Item>Jupiter</list.Item>
        <list.Item>Saturn</list.Item>
        <list.Item>Uranus</list.Item>
        <list.Item>Neptune</list.Item>
      </List>
    </div>
  </div>

  {{outlet}}
</div>
