<Portal @target="fancy-header">
  <div class="landingHero">
    <div class="landingHero_left" {{css-transition "fade-in"}}>
      <figure class="mt-48">
        <blockquote class="font-display pt-8 text-4xl font-bold text-white">
          "Somwhere, something incredible is waiting to be known."
        </blockquote>
        <figcaption class="quotesource py-4 text-neutral-200 text-xl">
          <cite title="Carl Sagan">Carl Sagan</cite>
        </figcaption>
      </figure>
      <p class="py-4 mb-6 text-neutral-200 text-xl">
        Explore data from the NASA Exoplanet Archive
      </p>
    </div>
    <div class="landingHero_right">
      <Svg::Space />
    </div>
  </div>
</Portal>

<div class="home" role="main">
  <div class="home_planets">
    <div class="list">
      <Toolbar class="list_header" @route="planets" @title="Planets">
        <Dropdown as |d|>
          <d.Toggle>
            <FaIcon @icon="filter" class="mr-2" />
            Filter
          </d.Toggle>
          <d.Menu as |m|>
            <m.Button @onClick={{fn this.filter "recent"}}>Recent</m.Button>
            <m.Button @onClick={{fn this.filter "habitable-zone"}}>Habitable Zone</m.Button>
            <m.Button @onClick={{fn this.filter "earth-size"}}>Earthlike</m.Button>
            <m.Button @onClick={{fn this.filter "super-earth-size"}}>Super Earths</m.Button>
            <m.Button @onClick={{fn this.filter "hot-jupiter"}}>Hot Jupiters</m.Button>
          </d.Menu>
        </Dropdown>
      </Toolbar>
      <DataTable
        @data={{@model.planets}}
        @columns={{this.dataTableColumns}}
        @onRowClick={{fn this.handleRowClick}}
      />
    </div>
  </div>
  <div class="home_sidebar">
    <div class="flex space-x-4">
      <StatDisplay
        class="flex-1"
        @title="Confirmed"
        @stat={{this.planetsCount}}
        @color="primary"
      />
      <StatDisplay
        class="flex-1"
        @title="Something"
        @stat="4"
        @color="accent"
      />
    </div>
    <NewsList class="mt-4" @news={{@model.articles}} />
  </div>
</div>

{{outlet}}
